div {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: -3px;
}

.vermelha {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: rgb(59, 194, 59);
}

.amarelo {
    background-color: yellow;
}

.vermelha {
    background-color: red;
}

#canto {
    border: 3px solid black;
}
.hov:hover{
    background-color: aqua;
}
